main{
  background-color: blue;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
html, body{
  padding: 0;
  margin: 0;
}

main section{
  background-color: yellow;
  /* flex-grow: 1; */
  width: calc(100%/3*2);
}

main aside{
  background-color: springgreen;
  width: calc(100%/3);
  /* width: 400px; */
}